.metadata
*.un~
.recommenders
data
EncSearch/.gradle
EncSearch/bin
EncSearch/build
EncSearchServer/.gradle
EncSearchServer/bin
EncSearchServer/build
old
EncSearchServer/.settings
EncSearchServer/.cache-main
EncSearchServer/gradle/wrapper/gradle-wrapper.jar
EncSearchServer/gradle/wrapper/gradle-wrapper.properties
RemoteSystemsTempFiles
Servers
