# Auto detect text files and perform LF normalization
* text=auto

*.py diff=python
*.html diff=html

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jpg     binary
